name: Cron Example

on:
  workflow_dispatch:  # This is a manual trigger

jobs:
  run-integration-tests:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: cron-example

    steps:
      - uses: actions/checkout@v2

      # Setup Node.js
      - name: Setup Node.js 12
        uses: actions/setup-node@v3
        with:
          node-version: "12.x"

      # Install Yarn
      - name: Install Yarn
        run: npm install --global yarn

      # Install dependencies
      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # Run tests
      - name: Run tests
        run: yarn test
