name: Pull Request Example

on:
  workflow_dispatch:  # This is a manual trigger

jobs:
  pull-request:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ../typescript-project  # Ensure this path is correct

    steps:
      - uses: actions/checkout@v2

      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          

      # Install Yarn
      - name: Install Yarn
        run: npm install --global yarn

      # Install dependencies
      - name: Install dependencies
        run: yarn install --frozen-lockfile  # Ensure yarn.lock exists in the working directory

      # Run linting
      - name: Run linting
        run: yarn lint

      # Build project
      - name: Build project
        run: yarn build

      # Run tests
      - name: Run tests
        run: yarn test
